.create-rectangle {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    color: #8e430e;
}

.create-square {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: #8e430e;
}

.create-circle {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: #8e430e;
}

.create-triangle {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: #8e430e;
}

.shapes-canvas {
    width: 78%;
    height: 600px;
    float: left;
    background-color: #d3d3d336;
}

.side-bar {
    display: inline-block;
    height: 600px;
    width: 20%;
    color: #28d428;
    background-color: black;
}

.square {
    position: absolute;
    background: red;
}